.t{
    border-radius: 20px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    transition: all ease-in-out 0.5s;
}

.t-icon{
    width: 30px;
    height: 30px;
}

.t-button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* background-color: #999; */
    position: absolute;
    cursor: pointer;
}